.section {
    box-sizing: border-box;
    height: calc(85% - 10px);
    padding: 15px 10px;
    overflow-y: auto;
    color: var(--color-text);
}

.todo {
    list-style: none;
    padding: unset;
    margin: unset;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item input:checked + label {
    text-decoration-line: line-through;
}

.checkbox {
    margin-right: 10px;
    accent-color: white;
}

.trashcan {
    background-color: unset;
    border: unset;
    cursor: pointer;
    color: var(--color-text);
}