.section {
    height: calc(15% - 10px);
    padding: 10px;
    background-color: var(--color-input-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}

.input {
    border: unset;
    width: 80%;
    padding-left: 10px;
    background-color: var(--color-input-add);
    color: var(--color-text);
}

.input::placeholder {
    color: var(--color-text);
}

.input:focus {
    outline: none;
}

.button {
    border: unset;
    width: 20%;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color-button);
    color: var(--color-text);
}

.button:hover {
    filter: brightness(0.97);
}
