.outer {
  width: 100%;
  height: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer.dark {
  background-color: #5e7e9b;
}

.inner {
  width: 400px;
  height: 400px;
  background-color: burlywood;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  overflow: hidden;
}